.backg {
    background-color: rgb(43, 40, 40);
}

*{
    margin: 0;
    padding: 0;
}
#form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#inp1{
    margin-right: 3rem;
}
#inp2{
    margin-bottom: 0.5rem;
}
#inp3{
    margin-left: 3rem;
}

#btn_send{
    background-color: tomato;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}
#list_cards{
    display: flex;
    justify-content: space-between;
}
#list_cards img{
    width: 100px;
}
#list_cards p{
    margin-top: 0.3rem;
    text-align: center;
}

.about-img {
    width: 250px;
    height: 250px;
    border: 2px solid #c7d1d6;
    padding: 5px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    transition: 0.5s ease-in-out;
  }
  
.about-img:hover {
    background-color: #284d5f80;
    background-blend-mode: multiply;
  }
  
.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin-bottom: 3rem;
}
